header {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0px;
  left: 0;
  padding-left: 35px ;
  padding-right: 20px;
  height: 65px;
  right: 0;
  z-index: 200;
  background-color: rgb(255, 255, 255);
}

.logo,
.search,
.profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 24px;
  margin-right: 15px;
}
.youtube-logo {
  width: 60px;
}

.youtube-logo img {
  height: 21px;
  cursor: pointer;
}

.user-logo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  margin-right: 50px;
  flex: 1;
  white-space: nowrap; 
}
.search input {
  width: 0px;
  max-width: 450px;
  flex: 1;
  height: 44px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  padding-left: 10px;
  font-size: 16px;
  box-shadow: inset 1px 1px 4px rgb(236, 236, 236);
}

.search-icon img {
    margin-top: 4px;
  width: 46px;
  border: 1px solid rgb(236, 236, 236);
  margin-left: -3px;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}


.voice-search {
  margin-left: 15px;
  width: 50px;
  margin-top: 4px;
  position: relative;
}
.search-icon {
  position: relative;
}
.voice-search img {
  border-radius: 25px;
  width: 30px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.search-icon:hover .popup,
.voice-search:hover .popup,
.upload:hover .popup,
.notificaions:hover .popup,
.apps-logo:hover .popup {
  opacity: 1;
  cursor: pointer;
}
.popup {
  opacity: 0;
  position: absolute;
  background-color: rgb(175, 173, 173);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
 bottom: -35px;
 left: -40px;
}

.search-icon .popup {
  left: -12px;
}

.upload,
.apps-logo,
.notificaions,
.user-logo {
  width: 35px;
  position: relative;
  margin-top: 16px;
  margin-right: 20px;

}

.profil {
    white-space: nowrap; 
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
}

.count{
  position: relative;
}

.count div {
  position: absolute;
  top: 2px;
  right: 1px;
  background-color: rgb(179, 6, 6);
  width: 10px;
  border-radius: 10px;
  padding: 2px 4px;
  color: white;
  font-size: 12px;

}

.home img{
  cursor: pointer;
}

